* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#f6f8f9;
}

/* type settings */
a {
    color: #010101;
    text-decoration: none;
}

a,p,ul,li {
    font-family: sans-serif;
}
/* type settings */

header {
    background-color: #ffffff;
}

header img, header a {
    line-height: 100px;
    vertical-align: middle;
    padding-left: 16px;
}

header a {
    font-size: 32px;
    font-weight: 700;
}
